In [1]:
import pandas as pd
import numpy as np
import math
pd.set_option('mode.chained_assignment',  None)

d1 = pd.read_csv('Indicators.csv')
d2 = pd.read_csv('Country.csv')

data = d1.copy()
df_2 = d2.copy()

# 처음 dataframe만들 때만 사용
# df : indicators.csv
# indicator : 사용할 indicator
# year : 선택할 year
def make_df(df,indicator,year):
    df_1 = df[df['Year'] == year]
    df_1 = df_1[df_1['IndicatorName'] == indicator]
    df_1 = df_1[['CountryCode','Value']]
    return df_1


# data : indicators.csv
# df : merge하기전 dataframe
# indicator : 새로 merge하고싶은 indicator
# year : mearge 하기 위한 year 선택
# df_2 : 새로 merge하기위해 만들어진 dataframe
def data_merge(df,indicator,year):
    df_2 = data[data['Year'] == year]
    df_2 = df_2[df_2['IndicatorName'] == indicator]
    df_2 = df_2[['CountryCode','Value']]
    df_merge = pd.merge(df, df_2, on='CountryCode', how='outer')
    #df_merge.columns = ['CountryCode', indicator+'_value',indicator2+'_value']
    #df_merge['Year'] = year
    return df_merge

#'Birth rate, crude (per 1,000 people)'
# Using indicators list
indi_list = ['Life expectancy at birth, total (years)','Age dependency ratio, old (% of working-age population)','Birth rate, crude (per 1,000 people)']
# 1st DataFrame
df1 = make_df(data,indi_list[0],2000)
# Merge 1 indicator
merge_1 = data_merge(df1,indi_list[1],2000)
# Merge 1 indicator 
merge_2 = data_merge(merge_1,indi_list[2],2000)

merge_2.columns = ['CountryCode',indi_list[0],indi_list[1],indi_list[2]]

merge_last = merge_2.copy()

# Check the Null value
def check_isnan_list(df,col):
    null_list = []
    for i in range(len(df)):
        if math.isnan(df[col][i]):
            null_list.append(i)
        else:
            continue
            
    return null_list



# Check the Null value
def check_isnan_dict(df,col):
    null_list = []
    for i in range(len(df)):
        if math.isnan(df[col][i]):
            null_list.append(i)
        else:
            continue
            
    null_dict = dict()
    for country in df['CountryCode'][null_list]:
        for index in range(len(df_2)):
            if df_2['CountryCode'][index] == country:
                region = df_2['Region'][index]
                null_dict[country] = region
    return null_dict

# df1 : Indicator.csv , df2 : Country.csv
def Check_country_IncomeGroup(df1,df2,group,indicator,year):
    country_group = df2[df2['IncomeGroup'] == group]['CountryCode']
    data_group = df1[df1['CountryCode'].isin(country_group)]
    return data_group[(data_group['IndicatorName'] == indicator) & (data_group['Year'] == year)]

# df1 : Indicator.csv , df2 : Country.csv
def Check_country_region(df1,df2,region,indicator,year):
    country_region = df2[df2['Region'] == region]['CountryCode']
    data_region = df1[df1['CountryCode'].isin(country_region)]
    return data_region[(data_region['IndicatorName'] == indicator) & (data_region['Year'] == year)]

# df1 : Indicator.csv , df2 : Country.csv
def Check_CurrencyUnit(df1,df2,currencyunit,indicator,year):
    unit = df2[df2['CurrencyUnit'] == currencyunit]['CountryCode']
    data_unit = df1[df1['CountryCode'].isin(unit)]
    return data_unit[(data_unit['IndicatorName'] == indicator) & (data_unit['Year'] == year)]

# Check the Null value
# df : merge가 끝난 dataframe
# col : null값을 채우기 위한 indicator value
# year : 해당 데이터셋의 year
# method : null값을 채우기 위한 기준
def change_null_value(df,col,year,method):
    null_list = []
    for i in range(len(df)):
        if math.isnan(df[col][i]):
            null_list.append(i)
        else:
            continue
            
    null_dict = dict()
    if method =='Region':
        for country in df['CountryCode'][null_list]:
            for index in range(len(df_2)):
                if df_2['CountryCode'][index] == country:
                    region = df_2[method][index]
                    null_dict[country] = region
        keys = list(null_dict.keys())        
        for key,null_value in zip(keys,null_list):
            new_value_data = Check_country_region(data,df_2,null_dict[key],col,year)
            new_value = np.average(new_value_data['Value'])
            #dff = dff.T
            #dff.at[col,null_value] = new_value
            #dff = dff.T
            df[col][null_value] = new_value
        return df
    
    elif method =='IncomeGroup':
        for country in df['CountryCode'][null_list]:
            for index in range(len(df_2)):
                if df_2['CountryCode'][index] == country:
                    group = df_2[method][index]
                    null_dict[country] = group
        keys = list(null_dict.keys())        
        for key,null_value in zip(keys,null_list):
            new_value_data = Check_country_IncomeGroup(data,df_2,null_dict[key],col,year)
            new_value = np.average(new_value_data['Value'])
            df[col][null_value] = new_value       
        return df
    
    elif method == 'CurrencyUnit':
        for country in df['CountryCode'][null_list]:
            for index in range(len(df_2)):
                if df_2['CountryCode'][index] == country:
                    unit = df_2[method][index]
                    null_dict[country] = unit
        keys = list(null_dict.keys())        
        for key,null_value in zip(keys,null_list):
            new_value_data = Check_CurrencyUnit(data,df_2,null_dict[key],col,year)
            new_value = np.average(new_value_data['Value'])
            df[col][null_value] = new_value       
        return df

In [2]:
df_region = merge_last.copy()
df_region = change_null_value(df_region,indi_list[0],2000,'Region')
df_region = change_null_value(df_region,indi_list[1],2000,'Region')
df_region = change_null_value(df_region,indi_list[2],2000,'Region')

In [3]:
df_group = merge_last.copy()
df_group = change_null_value(df_group,indi_list[0],2000,'IncomeGroup')
df_group = change_null_value(df_group,indi_list[1],2000,'IncomeGroup')
df_group = change_null_value(df_group,indi_list[2],2000,'IncomeGroup')

In [4]:
df_unit = merge_last.copy()
df_unit = change_null_value(df_unit,indi_list[0],2000,'CurrencyUnit')
df_unit = change_null_value(df_unit,indi_list[1],2000,'CurrencyUnit')
df_unit = change_null_value(df_unit,indi_list[2],2000,'CurrencyUnit')

C:\Users\leejy\Anaconda3\lib\site-packages\numpy\lib\function_base.py:392: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\leejy\Anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [5]:
df_region

,CountryCode,"Life expectancy at birth, total (years)","Age dependency ratio, old (% of working-age population)","Birth rate, crude (per 1,000 people)"
0,ARB,67.826949,7.041462,28.282837
1,CSS,69.438262,11.075336,20.044584
2,CEB,72.719690,19.864752,9.770916
3,EAS,71.662834,10.336070,15.796701
4,EAP,70.690575,9.158629,16.400833
5,EMU,78.273992,24.051069,10.637990
6,ECS,73.026072,19.969235,11.668391
7,ECA,68.895651,14.370703,15.354005
8,EUU,77.157631,23.304327,10.593453
9,FCS,57.040161,6.265157,38.058768
10,HPC,52.082541,5.873371,42.952911
11,HIC,75.973694,19.881673,12.341194
12,NOC,69.745161,15.239936,13.712906
13,OEC,77.825637,21.145393,11.933239
14,LCN,71.498159,8.905089,22.459404
15,LAC,71.012202,8.129007,22.984257
16,LDC,55.594151,6.103372,38.604856
17,LMY,65.509430,8.298541,24.072445
18,LIC,52.155071,6.050922,41.740544
19,LMC,62.827522,7.526574,27.369674
20,MEA,69.901008,7.371376,24.544344
21,MNA,69.364966,7.510266,24.608678
22,MIC,66.800520,8.479090,22.364286
23,NAC,76.892432,18.528013,14.055745
24,OED,77.083223,19.488827,13.550528
25,OSS,56.353764,7.357174,31.978430
26,PSS,66.705450,6.059283,29.037700
27,SST,60.564314,8.293744,28.664642
28,SAS,62.908508,7.183169,27.421557
29,SSF,50.339394,5.728065,41.681171
...,...,...,...,...
207,CHE,79.680488,22.748696,10.900000
208,SYR,73.330293,6.023744,30.471000
209,TJK,63.695293,6.613339,30.583000
210,TZA,50.465341,5.431176,41.917000
211,THA,70.634073,9.452351,14.435000
212,TMP,59.481415,4.773097,42.544000
213,TGO,53.468683,5.400938,39.717000
214,TON,70.760439,10.240260,28.303000
215,TTO,68.596439,9.624204,14.715000
216,TUN,72.600000,10.563061,17.100000
217,TUR,69.998366,9.465026,21.456000
218,TKM,63.899293,7.233602,23.663000
219,UGA,46.419976,5.709710,48.355000
220,UKR,67.859512,19.979524,7.800000
221,ARE,74.451537,1.438136,16.399000
222,GBR,77.741463,24.303683,11.500000
223,USA,76.636585,18.545082,14.400000
224,URY,74.685976,20.987492,16.398000
225,UZB,66.940780,7.968051,21.402480
226,VUT,67.555000,6.055116,32.443000
227,VEN,72.346122,7.063553,23.717000
228,VNM,73.631122,10.374172,17.306000
229,VIR,76.619512,13.082760,14.400000
230,WBG,70.907463,4.553784,40.900000
231,YEM,60.456366,5.706539,39.319000
232,ZMB,43.456683,5.440233,44.161000
233,ZWE,41.689439,5.921561,32.945000
234,CUW,71.336105,15.852492,21.825657
235,SYC,52.059373,12.225128,18.600000
236,ADO,73.616268,18.849979,11.300000

In [6]:
df_group

,CountryCode,"Life expectancy at birth, total (years)","Age dependency ratio, old (% of working-age population)","Birth rate, crude (per 1,000 people)"
0,ARB,67.826949,7.041462,28.282837
1,CSS,69.438262,11.075336,20.044584
2,CEB,72.719690,19.864752,9.770916
3,EAS,71.662834,10.336070,15.796701
4,EAP,70.690575,9.158629,16.400833
5,EMU,78.273992,24.051069,10.637990
6,ECS,73.026072,19.969235,11.668391
7,ECA,68.895651,14.370703,15.354005
8,EUU,77.157631,23.304327,10.593453
9,FCS,57.040161,6.265157,38.058768
10,HPC,52.082541,5.873371,42.952911
11,HIC,75.973694,19.881673,12.341194
12,NOC,69.745161,15.239936,13.712906
13,OEC,77.825637,21.145393,11.933239
14,LCN,71.498159,8.905089,22.459404
15,LAC,71.012202,8.129007,22.984257
16,LDC,55.594151,6.103372,38.604856
17,LMY,65.509430,8.298541,24.072445
18,LIC,52.155071,6.050922,41.740544
19,LMC,62.827522,7.526574,27.369674
20,MEA,69.901008,7.371376,24.544344
21,MNA,69.364966,7.510266,24.608678
22,MIC,66.800520,8.479090,22.364286
23,NAC,76.892432,18.528013,14.055745
24,OED,77.083223,19.488827,13.550528
25,OSS,56.353764,7.357174,31.978430
26,PSS,66.705450,6.059283,29.037700
27,SST,60.564314,8.293744,28.664642
28,SAS,62.908508,7.183169,27.421557
29,SSF,50.339394,5.728065,41.681171
...,...,...,...,...
207,CHE,79.680488,22.748696,10.900000
208,SYR,73.330293,6.023744,30.471000
209,TJK,63.695293,6.613339,30.583000
210,TZA,50.465341,5.431176,41.917000
211,THA,70.634073,9.452351,14.435000
212,TMP,59.481415,4.773097,42.544000
213,TGO,53.468683,5.400938,39.717000
214,TON,70.760439,10.240260,28.303000
215,TTO,68.596439,9.624204,14.715000
216,TUN,72.600000,10.563061,17.100000
217,TUR,69.998366,9.465026,21.456000
218,TKM,63.899293,7.233602,23.663000
219,UGA,46.419976,5.709710,48.355000
220,UKR,67.859512,19.979524,7.800000
221,ARE,74.451537,1.438136,16.399000
222,GBR,77.741463,24.303683,11.500000
223,USA,76.636585,18.545082,14.400000
224,URY,74.685976,20.987492,16.398000
225,UZB,66.940780,7.968051,21.402480
226,VUT,67.555000,6.055116,32.443000
227,VEN,72.346122,7.063553,23.717000
228,VNM,73.631122,10.374172,17.306000
229,VIR,76.619512,13.082760,14.400000
230,WBG,70.907463,4.553784,40.900000
231,YEM,60.456366,5.706539,39.319000
232,ZMB,43.456683,5.440233,44.161000
233,ZWE,41.689439,5.921561,32.945000
234,CUW,73.984640,15.852492,16.672973
235,SYC,73.984640,12.225128,18.600000
236,ADO,73.984640,11.750692,11.300000

In [7]:
df_unit

,CountryCode,"Life expectancy at birth, total (years)","Age dependency ratio, old (% of working-age population)","Birth rate, crude (per 1,000 people)"
0,ARB,67.826949,7.041462,28.282837
1,CSS,69.438262,11.075336,20.044584
2,CEB,72.719690,19.864752,9.770916
3,EAS,71.662834,10.336070,15.796701
4,EAP,70.690575,9.158629,16.400833
5,EMU,78.273992,24.051069,10.637990
6,ECS,73.026072,19.969235,11.668391
7,ECA,68.895651,14.370703,15.354005
8,EUU,77.157631,23.304327,10.593453
9,FCS,57.040161,6.265157,38.058768
10,HPC,52.082541,5.873371,42.952911
11,HIC,75.973694,19.881673,12.341194
12,NOC,69.745161,15.239936,13.712906
13,OEC,77.825637,21.145393,11.933239
14,LCN,71.498159,8.905089,22.459404
15,LAC,71.012202,8.129007,22.984257
16,LDC,55.594151,6.103372,38.604856
17,LMY,65.509430,8.298541,24.072445
18,LIC,52.155071,6.050922,41.740544
19,LMC,62.827522,7.526574,27.369674
20,MEA,69.901008,7.371376,24.544344
21,MNA,69.364966,7.510266,24.608678
22,MIC,66.800520,8.479090,22.364286
23,NAC,76.892432,18.528013,14.055745
24,OED,77.083223,19.488827,13.550528
25,OSS,56.353764,7.357174,31.978430
26,PSS,66.705450,6.059283,29.037700
27,SST,60.564314,8.293744,28.664642
28,SAS,62.908508,7.183169,27.421557
29,SSF,50.339394,5.728065,41.681171
...,...,...,...,...
207,CHE,79.680488,22.748696,10.900000
208,SYR,73.330293,6.023744,30.471000
209,TJK,63.695293,6.613339,30.583000
210,TZA,50.465341,5.431176,41.917000
211,THA,70.634073,9.452351,14.435000
212,TMP,59.481415,4.773097,42.544000
213,TGO,53.468683,5.400938,39.717000
214,TON,70.760439,10.240260,28.303000
215,TTO,68.596439,9.624204,14.715000
216,TUN,72.600000,10.563061,17.100000
217,TUR,69.998366,9.465026,21.456000
218,TKM,63.899293,7.233602,23.663000
219,UGA,46.419976,5.709710,48.355000
220,UKR,67.859512,19.979524,7.800000
221,ARE,74.451537,1.438136,16.399000
222,GBR,77.741463,24.303683,11.500000
223,USA,76.636585,18.545082,14.400000
224,URY,74.685976,20.987492,16.398000
225,UZB,66.940780,7.968051,21.402480
226,VUT,67.555000,6.055116,32.443000
227,VEN,72.346122,7.063553,23.717000
228,VNM,73.631122,10.374172,17.306000
229,VIR,76.619512,13.082760,14.400000
230,WBG,70.907463,4.553784,40.900000
231,YEM,60.456366,5.706539,39.319000
232,ZMB,43.456683,5.440233,44.161000
233,ZWE,41.689439,5.921561,32.945000
234,CUW,NaN,15.852492,NaN
235,SYC,NaN,12.225128,18.600000
236,ADO,76.199592,21.372502,11.300000